*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root{
    --yellow-:#f8a90f;
}

.text {
    width: 16ch;
    border-right: 2px solid var(--yellow-);
    animation: blink 1s step-end infinite, type 3.5s steps(16) forwards infinite;
    overflow: hidden;
    white-space: nowrap;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  @keyframes type {
    0% {
      width: 0;
    }

  }


.c-1::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 23px;
    width: 23px;
    border:  2px solid black;
    background-color: white;
}
.c-1{
    position: relative;
    animation: roated 20s linear infinite;
}

@keyframes roated {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
  
.c-2::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 23px;
    width: 23px;
    border:  2px solid black;
    background-color: white;
}
.c-2{
    position: relative;
    animation: roated 10s linear infinite reverse;
}

@keyframes roated {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
} 

.c-3{
    position: relative;
    animation: roated 20s linear infinite ;
}

@keyframes roated {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}


.f-icon{
    font-size: 60px;
}

.ri-arrow-right-circle-fill{
    color: var(--yellow-);
    font-size: 36px;
}

.ri-focus-2-fill{
    color: var(--yellow-);
}
.icon{
   background-color: var(--yellow-);
   width: 15%; 
   height: 30%;
   display: inline-flex;
    justify-content: center;
    align-items: center;
}
.ri-macbook-line{
    color: white;
    font-size: 40px;
   
}
.ri-message-2-fill{
    font-size: 25px;
    color: white;
}
.v-shadow{
    box-shadow: rgba(0, 0, 0, 0.747) 0px 0px 9px 9px;
}
.img-up{
    scale: 1;
    transition: all .2s ;
 }
.img-up:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.815) 0px 0px 10px 10px    
    
 }
 .img2-up{
    scale: 1;
    transition: all .2s ;
 }
.img2-up:hover{
    transform: scale(1.1);
    box-shadow:rgba(230, 169, 3, 0.89) 0px 0px 9px 9px
    
 }
 


.slick-dots li button:before{
    font-size: 40px !important;
}
.slick-dots li.slick-active button:before{
    color:var(--yellow-) !important;
    font-size: 70px !important;
}

.b-h{
    height: 40px;
    width: 40px;
}



.swipe{
    padding: 10px;
}
.swipe-sub{
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
}
.footer{
    position: relative;
}
.f-position{
    position: absolute;
    top: -50px;
}
.f-box{
    color: black;
}
.f-box:hover{
    background-color:rgba(245, 182, 10, 0.89);
    color:white !important;
    border: 2px solid rgb(236, 155, 5) !important;
    border-radius: 6px !important;
}











