*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.ri-arrow-right-circle-fill{
    color: #f8a90f;
    font-size: 36px;
}
.ri-focus-2-fill{
    color: #f8a90f;
}
.icon{
   background-color: #f8a90f;
   width: 15%; 
   height: 30%;
   display: inline-flex;
    justify-content: center;
    align-items: center;
}
.ri-macbook-line{
    color: white;
    font-size: 40px;
   
}
.v-shadow{
    box-shadow: rgba(0, 0, 0, 0.747) 0px 0px 9px 9px;
}
.img-up{
    scale: 1;
    transition: all .2s ;
 }
.img-up:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.897) 0px 0px 10px 10px    
    
 }
 .img2-up{
    scale: 1;
    transition: all .2s ;
 }
.img2-up:hover{
    transform: scale(1.1);
    box-shadow:rgba(230, 169, 3, 0.89) 0px 0px 9px 9px
    
 }